$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);

$secondary-blue: hsl(248, 32%, 49%);

$secondary-dark-blue: hsl(249, 10%, 26%);
$secondary-grayish-blue: hsl(246, 25%, 77%);

$text-color: #fff;

$font-weight1: 400;
$font-weight2: 500;
$font-weight3: 600;
$font-weight4: 700;
